.titolo-scheda {
    border: 1px solid #00A6AB;
    border-radius: 30px;
    margin: 5px;


    span {
        font-size: 20px;
        text-align:center;
        color: $pink-airbnb;
        font-weight: 500;
        text-transform: uppercase;
        padding:15px;
    }

}

.edit-house {
    .form-edit {
        display: flex;
        justify-content: space-around;
        .form-group{
            label {
                color: #ff5070;
                font-weight: bold;
            }
            h6 {
                color: #ff5070;
               
            }
        }
      
        .salva {
            background-color: #00A6AB;
            border: none;
        }
      }
    }

@media screen and (max-width: 768px) {
    .edit-house {
        .form-edit {
            display: block;
        }
    }
}
.host-nav-col {
    margin-top: 20px;
    height: 100vh;

    .host-nav {
       justify-content: start;
    
        li {
            list-style:none;
            font-size: 15px;
        }
    
        a {
            text-decoration: none;
            color: $grey-airbnb;
            font-size: 15px;
        }
    
        i {
            font-size: 20px;
            padding-right: 20px;
        }
    }
    #delete-button {
        background-color: transparent;
        border: none;
    }
    
    #open-sponsor-menu {
        cursor: pointer;
    }
    
    #host-sponsorship {
        
        form {
            margin-left: 10px;
            
            select {
                font-size: 13px;
                padding: 3px;
    
                option {
                    padding: 3px;
                }
            }
        
            input[type="submit"] {
                font-size: 13px;
                width: 50%;
                margin: auto;
                margin-top: 5px;
                background-color: lightgrey;
            }
        }
    }
}