// .sidebar {
//     height: 300px;
// }

.titolo-scheda {
    border: 1px solid #00A6AB;
    border-radius: 30px;
    margin: 5px;


    span {
        font-size: 20px;
        text-align:center;
        color: $pink-airbnb;
        font-weight: 500;
        text-transform: uppercase;
        padding:15px;
    }

}
.titolo-image {

    border: 1px solid #00A6AB;
    border-radius: 30px;
    margin: 10px;


    span {
        font-size: 20px;
        text-align:center;
        color: $pink-airbnb;
        font-weight: 500;
        text-transform: uppercase;
        padding:15px;
    }
    
}

.info {
   color:  #00A6AB;
}

.image {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {

        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
}



h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 400; 
}

h3 {
      font-size: 18px;
      font-weight: light;
}

.host-nav-col {
    margin-top: 20px;
    height: 100vh;

    .host-nav {
       justify-content: start;
    
        li {
            list-style:none;
            font-size: 15px;
        }
    
        a {
            text-decoration: none;
            color: $grey-airbnb;
            font-size: 15px;
        }
    
        i {
            font-size: 20px;
            padding-right: 20px;
        }
    }
    .delete-button {
        background-color: transparent;
        border: none;
    }
    
    #open-sponsor-menu {
        cursor: pointer;
    }
    
    #host-sponsorship {
        width: 70%;
        margin: auto;
               
        select {
            font-size: 13px;
            padding: 3px;

            option {
                padding: 3px;
            }
        }
        
        input[type="submit"] {
            font-size: 13px;
            width: 50%;
            margin: auto;
            margin-top: 5px;
            background-color: lightgrey;
        }
    }

    .delete-menu {
        background-color: #fff;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
        text-align: center;

        h6 {
            font-size: 13px;
        }

        input[type="submit"],
        #button-annulla {
            border: 1px solid grey;
            border-radius: 5px;
            padding: 3px 5px;
            font-size: 13px;
            cursor: pointer;
            display: inline-block;
        }

        input[type="submit"] {
            background-color: rgb(255, 56, 92);
            color: #fff;
            margin-bottom: 5px;
        }

        #button-annulla {
            padding: 5px;
        }
    }
}

@media screen and (max-width:769px) {

    .container-fluid .row .host-nav-col {
        height: auto;
    }
}
