.titolo-scheda {
    border: 1px solid #00A6AB;
    border-radius: 20px;
    margin: 10px;


    span {
        font-size: 20px;
        text-align:center;
        color: $pink-airbnb;
        font-weight: 500;
        text-transform: uppercase;
        padding:15px;
    }

}

.btn-payment {
    background-color: $pink-airbnb;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    font-size: 14px;
    color: #fff;
    text-decoration: none;

}