#searchresults-wrapper {

    #map-example-container.big-map {
        height: 400px;
        margin-bottom: 20px;
    }

    .nrResults {
        text-align: left;
        margin-bottom: 20px;
    }

    .sponsor-bg-color {
        background-color: #ebf5f9;
    }

    #houses-container {
        margin-top: 30px;
    }
    
    #searchresults-form {
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 30px;

        #searchresults-title {
            width: 100%;
            text-transform: uppercase;
            font-size: 20px;
            text-align: left;
            margin-bottom: 20px;
        }

        label {
            font-size: 14px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
    
        li {
            min-width: fit-content;
            margin: 0 10px
            
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

        #searchresults-tags input {
        border-radius: 5px;
        border: 1px solid grey;
        max-width: 50px;
        text-align: center;
        }
    }

    .card {
        width: 100%;

        .card-body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span.sponsorizzata {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .card_badges {
                position: absolute;
                bottom: 10px;
                right: 10px;

                .fa-tags {
                    display: inline-block;
                    transform: rotate(180deg);
                }
            }
            
            .card_img {
                width: 30%;
                display: inline-block;
                padding-right: 1.25rem;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card_text {
                width: 70%;

                h5 {
                    text-transform: uppercase;
                }
                
            }
        }  
    }

    @media screen and (max-width: 768px) {
        
        .card_badges {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        
        .card_text h5 {
            font-size: 13px;
        }

        .card .card-body .card_img {
            width: 50%;
        }

        .card .card-body .card_text {
            width: 50%;
        }
    }

    @media screen and (max-width: 400px) {

        span.sponsorizzata {
            font-size: 9px;
        }

        .card_text h6 {
            display: inline-block;
            padding-right: 10px;
        }
    
        .card_text button {
            font-size: 9px;
            padding: 5px;
        }
    
    }

}

